.text-align{
  text-align: center;
}
.nav{
  background-color: #3b3b3b;
}
.text-white{
  color: #f3f3f3;
}
.room-container{
  width: 100%;
  margin-bottom: 150px;
  background: lightgray;
}
.room-content{
  position: relative;
  float: left;
}
.topnav-right {
  float: right;
}
